/* Estilos específicos para tools-upload.html */

.container {
  width: 60%;
  margin: 0 auto; /* Centrar horizontalmente */
  margin-top: 10px;
  text-align: left; /* Centrar contenido dentro del contenedor */
}

#herramienta-titulo {
  margin: 5px 0;
  background-color: #eee;
  border-radius: 5px;
  width: 30%;
}

textarea#herramienta-descripcion,
textarea.editar-texto {
  width: 100%; /* Tamaño del textarea, descontando el padding */
  height: 300px; /* Altura deseada */
  margin-bottom: 10px; /* Espacio inferior */
  background-color: #eee;
  color: #000; /* Texto negro */
  border-radius: 5px;
}

.upload-button {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilos para el contenedor de los botones */
.button-file-container {
  display: flex;
  gap: 10px; /* Espacio entre los elementos */
  margin-top: 10px;
  margin-bottom: 70px;
}

/* Posición para el botón de herramientas */
#tools-button {
  display: inline-block;
  margin: auto ; /* Centrar horizontalmente */
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative; /* Mantenemos posición relativa para el botón centrado */
}
